@using Client_App.Components.Share.Helpers
@using Client_App.Components.Share.ReusableComponents
@using Client_App.Components.Share.CustomInputs


@inherits LayoutComponentBase

<div>
    <nav>
        <TopBar/>
    </nav>

    <main>
        @Body
    </main>

    <footer>
        <BottomBar/>
    </footer>
</div>

<ErrorModal/>

<SearchInput/>

@code {


}