@using Client_App.Services.Share
@using Client_App.Components.Share.Helpers
@using Client_App.Components.Share.ReusableComponents

@inject ErrorService ErrorService;

@inherits LayoutComponentBase

<div>
    <nav>
        <TopBar/>
    </nav>

    <main>
        @Body
    </main>

    <footer>
        <BottomBar/>
    </footer>
</div>

<ErrorModal/>

@code {

    protected override Task OnInitializedAsync()
    {
        ErrorService.ClearErrorMessage();
        return Task.CompletedTask;
    }

}