@using Client_App.Components.Share
@using Client_App.Components.Share.CustomInputs
@using Client_App.Components.Share.Helpers
@inherits LayoutComponentBase

<AuthStateLayout>
    <div>
        <nav>
            <TopBar/>
        </nav>

        <main>
            @Body
        </main>

        <footer>
            <BottomBar/>
        </footer>
    </div>
</AuthStateLayout>

<ErrorModal/>

<SearchInput/>

<ProductDetailModal/>

@code {


}