@using Client_App.Components.Share
@inherits LayoutComponentBase
@inject IJSRuntime Js

<div>
    <nav>
        <TopBar/>
    </nav>

    <main>
        @Body
    </main>

    <footer>
        <BottomBar/>
    </footer>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await Js.InvokeVoidAsync("initializeFlowbite");
        }
    }

}