@using Client_App.Components.Share
@using Client_App.Domains.Categories
<div class="w-full px-20 py-10 bg-[#f0f5ff] text-main flex justify-center">
    <div class="w-full max-w-[1440px]">
        <div class="flex justify-between capitalize">
            <h1 class="text-2xl font-extrabold">Feature collections</h1>
            <h3>
                <a href="" class="underline">Shop all</a>
            </h3>
        </div>
        <div class="flex w-full max-w-[1440px] justify-between pt-12">
            @foreach (var category in Categories!.Take(4))
            {
                <div class="flex flex-col justify-between bg-[#f0f5ff] items-center rounded-lg w-[300px] mt-4">
                    <div class="w-full flex justify-center bg-white rounded-lg">
                        <img class="h-[168px] object-fill w-full rounded-lg" src="@category.ImageUrl" alt="">
                    </div>
                    <p class="text-center my-4 py-3 text-xl font-bold  w-full">@category.CategoryName</p>
                    <p class="mb-5">@LimitDescription(category.Description)</p>
                    <CustomButton Value="Learn more"/>
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public List<Category>? Categories { get; set; }

    private static string LimitDescription(string description)
    {
        var words = description.Split(" ");
        var firstTenWords = words.Take(10).ToArray();
        var result = string.Join(" ", firstTenWords);
        return result + "...";
    }

}