<div class="flex w-full py-10 px-5 justify-center md:py-14">
    <div class="flex w-full max-w-[1300px] flex-col md:flex-row justify-between items-center">
        <div class="w-full md:w-5/12 pr-5 text-main">
            <h1 class="font-heading_bold text-3xl md:text-4xl mb-4 font-semibold">
                Transform Your Pet's Life with USA-Made Hemp
            </h1>
            <p class="text-lg md:text-xl font-light italic mb-4">
                Experience the Honest Paws Difference!
            </p>
            <p class="mb-4">
                At Honest Paws, our commitment to quality begins with the soil beneath our feet. Nestled in the heartland of America, our hemp is carefully cultivated by local farmers who share our passion for pet wellness. Each product is crafted with love and undergoes rigorous third-party testing to ensure consistent, premium quality. When you choose Honest Paws, you're not just giving your pet the best – you're supporting American farmers and embracing a commitment to excellence. Join us in this journey, and let's create happier, healthier pets together.
            </p>
            <p class="my-4 underline text-lg md:text-2xl cursor-pointer">Learn more</p>
        </div>
        <div class="w-full md:w-5/12 mt-6 md:mt-0">
            <img src="./images/home/location/map.svg" alt="location" class="w-full h-auto">
        </div>
    </div>
</div>

@code {

}