@page "/product/{ProductId:int}"

@inject ProductDetailModalService Service;
@inject IProductService ProductService;
@inject ICommentService CommentService;
@inject ErrorModalService ErrorModalService;
@inject TitleService TitleService;
@inject IJSRuntime Js;

@using Client_App.Components.ProductDetail
@using Client_App.Components.Share.Reusable
@using Client_App.Interfaces
@using Client_App.Services.Clients
@implements IAsyncDisposable

@if (ProductById is not null)
{
    <Breadcump Name="@ProductById.Name" Endpoint="@($"/product/{ProductById.ProductId}")"/>

    <ProductSection ProductById="ProductById"/>

    <div class="mt-20">
        <Overview ProductName="@ProductById.Name"/>
    </div>
}
else
{
    <Loading/>
}

@if (Pagination is not null)
{
    <div class="mt-10">
        <Discussion TotalItems="Pagination.TotalItems" Comments="Pagination.Data"/>
    </div>
}

@code {

}