@page "/product/{ProductId:guid}"

@using Client_App.Domains.Products.Responses
@using Client_App.Interfaces
@using Client_App.Components.Share
@using Client_App.Components.ProductDetail


@if (ProductById is not null)
{
    <Breadcump Name="@ProductById.Name" Endpoint="@($"/product/{ProductById.ProductId}")"/>
    <ProductSection ProductById="ProductById"/>

    <div class="mt-20">
        <Overview ProductName="@ProductById.Name"/>
    </div>

    <div class="mt-20">
        <Comments/>
    </div>
}
else
{
    <Loading/>
}


@code {
    [Parameter] public Guid ProductId { get; set; }
    [Inject] public required IProductService<ProductsInList, ProductById> ProductService { get; set; }
    public ProductById? ProductById { get; set; }
    public List<ProductsInList>? ProductsInList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ProductById = await ProductService.GetByIdAsync(ProductId);
    }

}