<Newsletter/>

<div class="w-full pb-10 flex justify-center">
   <div class="w-full max-w-[1300px]">
      <hr class="border-t-2 border-solid border-[rgba(52,58,64,0.8] my-[30px] w-full ">
      <div class="w-full mt-4">
         <div class="flex gap-20 text-main">
            <ul class="font-light">
               <h3 class="text-xl font-bold mb-2.5">LEARN</h3>
               <li>FAQs</li>
               <li>Our Ingredients</li>
               <li>News</li>
               <li>Dogs</li>
            </ul>
            <ul class="font-light">
               <h3 class="text-xl font-bold mb-2.5">SHOP</h3>
               <li>CBD Oil for Dogs</li>
               <li>CBD Oil for Cats</li>
               <li>Probiotics for Dogs</li>
               <li>Probiotics for Cats</li>
               <li>Salmon Oil for Dogs</li>
            </ul>
            <ul class="font-light">
               <h3 class="text-xl font-bold mb-2.5">CUSTOMER SERVICE</h3>
               <li>Your account</li>
               <li>Track Your Order</li>
               <li>Flea Market</li>
               <li>Help Center</li>
            </ul>
         </div>
      </div>
   </div> 
</div>

@code {
    
}