<div class="w-full flex justify-center items-center border-b-2">
    <div class="w-full max-w-[1300px] flex justify-between">
        <div class="">
            <img src="main-logo.png" alt="">
        </div>
        <div class="flex">
            <div class="p-5 font-bold flex justify-center items-center text-main">
                <a class="group" href="">SHOP ALL
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-[#2d4d6c]"></span></a>
            </div>
            <div class="p-5 font-bold flex justify-center items-center text-main">
                <a class="group" href="">EXPLORE PRODUCTS
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-[#2d4d6c]"></span></a>
            </div>
            <div class="p-5 font-bold flex justify-center items-center text-main">
                <a class="group" href="">BEST SELLERS
                <span class="block max-w-0 group-hover:max-w-full transition-all duration-300 h-0.5 bg-[#2d4d6c]"></span></a>
            </div>
        </div>
        <div class="flex">
            <a class="p-2.5 justify-center items-center flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(45,77,108,1)">
                    <path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z"></path>
                </svg>
            </a>
            <a class="p-2.5 justify-center items-center flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(45,77,108,1)">
                    <path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path>
                </svg>
            </a>
            <a class="p-2.5 justify-center items-center flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" fill="rgba(45,77,108,1)">
                    <path d="M12.0049 2C15.3186 2 18.0049 4.68629 18.0049 8V9H22.0049V11H20.8379L20.0813 20.083C20.0381 20.6013 19.6048 21 19.0847 21H4.92502C4.40493 21 3.97166 20.6013 3.92847 20.083L3.17088 11H2.00488V9H6.00488V8C6.00488 4.68629 8.69117 2 12.0049 2ZM18.8309 11H5.17788L5.84488 19H18.1639L18.8309 11ZM13.0049 13V17H11.0049V13H13.0049ZM9.00488 13V17H7.00488V13H9.00488ZM17.0049 13V17H15.0049V13H17.0049ZM12.0049 4C9.86269 4 8.1138 5.68397 8.00978 7.80036L8.00488 8V9H16.0049V8C16.0049 5.8578 14.3209 4.10892 12.2045 4.0049L12.0049 4Z"></path>
                </svg>
            </a>
        </div>
    </div>
</div>

@code {

}