@using Client_App.Domains.Categories
<div class="pt-10 pb-8">
    <h1 class="font-extrabold text-[32px] px-24 mb-5 text-center text-main">
        Science-backed essentials for your pets
    </h1>
    <div class="flex w-full h-full justify-center">
        @foreach (var category in CategoryList!)
        {
            <div class="flex flex-col justify-between bg-[#f0f5ff] items-center rounded-lg w-[300px] m-3">
                <div class="w-[90%] flex justify-center bg-white">
                    <img class="h-[168px] object-fill" src="@category.ImageUrl" alt="">
                </div>
                <p class="my-4">@category.CategoryName</p>
            </div>
        }

    </div>
</div>

@code {
    [Parameter] public List<Category>? CategoryList { get; set; }
}