@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'AvenirNext', serif ;
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./fonts/AvenirNext.otf) format('opentype');
    }
    @font-face {
        font-family: 'Recoleta', serif ;
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./fonts/Recoleta.otf) format('opentype');
    }
    @font-face {
        font-family: 'Recoleta-Bold', serif ;
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./fonts/Recoleta-Bold.ttf) format("truetype") ;
    }
}

@layer utilities {
    input[type=range]::-webkit-slider-thumb {
        pointer-events: all;
        width: 24px;
        height: 24px;
        -webkit-appearance: none;

        /* @apply w-6 h-6 appearance-none pointer-events-auto; */
    }

    .active-category {
        color: black;
        background-color: #fadc6f;
        border-color: black;
    }
}
